################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/hello-world/FileContentIndex/read.lock
/.vs/hello-world/FileContentIndex/5344863e-cea4-4ca7-b64e-bd31dfe8d9b0.vsidx
